
#img-principal{
    background-image: url(/assets/img-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 28vh;
}
.inf-quarto h3{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.inf-quarto ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    margin-bottom: 50px;
}
.inf-quarto li{
    width: calc(100%/4 - 10px);
}
@media only screen and (max-width: 750px) {
    .inf-quarto li{
        width: 45%;
        margin: 10px 0;
        list-style: none;
    }
    .inf-quarto ul{
        margin-bottom: 0;
        padding-left: 0;
    }
    #flex{
        margin-bottom: 50px;
    }
}