*{
    margin: 0;
    padding: 0;
}
#imgprincipal2{
    background-image: url(/assets/img-fundo.jpg);
    background-position: center -90px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 15vh;
}