*{  
    margin: 0;
    padding: 0;
}
#imgprincipal{
    background-image: url(/assets/img-fundo.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 80vw;
    margin: 50px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: ;
}
.containers{
    width: calc(90%/3);
    display: flex;
    flex-direction: column;
}
img{
    width: 90%;
}